version: "3.3"
services:
  influx:
    image: influxdb:1.8
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - INFLUXDB_DB=asshole
      - INFLUXDB_ADMIN_ENABLED="true"
      - INFLUXDB_HTTP_AUTH_ENABLED="true"
    ports:
      - "8096:8086"
    volumes:
      - ./influx/var/lib/influxdb:/var/lib/influxdb/
    env_file:
      - ./secrets.env

  grafana:
    user: 1000:1000
    image: grafana/grafana-oss:latest
    ports:
      - "8097:3000"
    volumes:
      - ./dashboards:/etc/dashboards/
      - ./grafana/etc/grafana:/etc/grafana/
      - ./grafana/var/lib/grafana:/var/lib/grafana
    env_file:
    - ./secrets.env